*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
// Typo
h2{
  font-size: $fontSize600;
}
p{
  font-size: $fontSize400;
}
// Button
.btn{
  border-radius: $radius;
  border: none;
}
// Margin Top
@for $i from 1 through 15 { .mt-#{$i} {
margin-top: 5px * $i; }
}
// Mix
.container{
  max-width: $container400;
  &.container_s{
    max-width: $container300;
  }
  &.container_xs{
    max-width: $container200;
  }
}
