// Colors
$mainBlue300: #1473e6;
$mainBlue400: #0d66d0;
$white: #fff;
$black: #000;
$adobeColorRed:rgb(247,23,27);
// Font
$fontSize200: 14px;
$fontSize300: 16px; //normal,p in main
$fontSize400: 20px; //p in hero
$fontSize500: 33px; //h2 in main
$fontSize600: 40px; //h2 in hero
// Containers
$container400: 1000px; //conts 4 main
$container300: 700px;  //first container 4 main (normal)
$container200: 600px; //container 4 hero
// Buttons
$radius:25px;
// Text Align
$textCenter: center;
//Margin Auto
$marginAuto: 0 auto;
//Underline Links
$underlineNone: none;
