// Colors
$mainColor300: #1473e6;
$mainColor400: #0d66d0;
$textColor: #2c2c2c;
// Font
$fontSize300: 18px;
$fontSize400: 23px;
$fontSize500: 28px;
// Containers
$container400: 1200px;
$container300: 800px;
